<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css" integrity="sha512-9xKTRVabjVeZmc+GUW8GgSmcREDunMM+Dt/GrzchfN8tkwHizc5RP4Ok/MXFFy5rIjJjzhndFScTceq5e6GvVQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="logo.png">
    <title>Spotify - Web Player Music for everyone</title>
    
</head>
<body>
     <div class="main">

        <div class="sidebar">
            <div class="nav">
                <div class="nav-option" style="opacity: 1;">
                    <i class="fa-solid fa-house"></i>
                    <a href="#" >Home</a>
                </div >
                <div class="nav-option">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <a href="#">Search</a>
                </div>
            </div>

            <div class="library">
                <div class="options">
                    <div class="lib-option nav-option">
                        <img src="library_icon.png" alt="lib">
                        <a href="#">Your Library</a>
                    </div>
                    <div class="icons">
                    <i class="fa-solid fa-plus"></i>
                    <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </div>

                <div class="boxes">
                    <div class="box">
                        <p class="box-1">Create your first playlist</p>
                        <p class="box-2">it's esay, we'll help you</p>
                        <button class="badge">Create playlist</button>
                    </div>

                    <div class="box">
                        <p class="box-1">Let's find some padcast to follow</p>
                        <p class="box-2">We'll keep you updated on next episodes</p>
                        <button class="badge">Browse podcast</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="main-content">

            <div class="sticky-nav">
                <div class="indi">
                <img src="backward_icon.png" alt="" class="hide">
                <img src="forward_icon.png" alt="">
            </div>
            <div class="indi2">
                <button class="badge nav-item hide">Explore Premium</button>
                <button class="badge nav-item dark-badge"><i class="fa-regular fa-circle-down" style="margin-right: 5px;"></i>Install app</button>
                <i class="fa-regular fa-user nav-item"></i>
            </div>
            </div>

                <h2>Recently Played</h2>
                <div class="card-container">
                    <div class="card">
                        <img src="card1img.jpeg" alt="" class="card-img">
                        <p class="card-title">Top 50 - Global</p>
                        <p class="card-info">your daily update tof the most played tracks ...</p>
                    </div>
                </div>

                <h2>Trending now near you</h2>
                <div class="card-container">
                    <div class="card">
                        <img src="card2img.jpeg" alt="" class="card-img">
                        <p class="card-title">Top 50 - Global</p>
                        <p class="card-info">your daily update tof the most played tracks ...</p>
                    </div>

                    <div class="card">
                        <img src="card3img.jpeg" alt="" class="card-img">
                        <p class="card-title">Top 50 - Global</p>
                        <p class="card-info">your daily update tof the most played tracks ...</p>
                    </div>

                    <div class="card">
                        <img src="card4img.jpeg" alt="" class="card-img">
                        <p class="card-title">Top 50 - Global</p>
                        <p class="card-info">your daily update tof the most played tracks ...</p>
                    </div>

                    <div class="card">
                        <img src="card3img.jpeg" alt="" class="card-img">
                        <p class="card-title">Top 50 - Global</p>
                        <p class="card-info">your daily update tof the most played tracks ...</p>
                    </div>

                    <div class="card">
                        <img src="card4img.jpeg" alt="" class="card-img">
                        <p class="card-title">Top 50 - Global</p>
                        <p class="card-info">your daily update tof the most played tracks ...</p>
                    </div>
                </div>

                <h2>Featured Charts</h2>
                <div class="card-container">
                    <div class="card">
                        <img src="card5img.jpeg" alt="" class="card-img">
                        <p class="card-title">Top 50 - Global</p>
                        <p class="card-info">your daily update tof the most played tracks ...</p>
                    </div>
                    <div class="card">
                        <img src="card6img.jpeg" alt="" class="card-img">
                        <p class="card-title">Top Songs - India</p>
                        <p class="card-info">your daily update tof the most played tracks ...</p>
                    </div>
                    <div class="card">
                        <img src="card1img.jpeg" alt="" class="card-img">
                        <p class="card-title">Top 50 - Global</p>
                        <p class="card-info">your daily update tof the most played tracks ...</p>
                    </div>
                </div>
                
                <div class="footer">
                    <div class="line"></div>
                </div>

        </div>

        <div class="music-player">

            <div class="album">
              
                    <img src="card2img.jpeg" alt="" class="image">
                    <div class="songs">
                        <p style="opacity: 1;">Daylight</p>
                        <p style="opacity: 0.7;"> Rohan Rawat</p>
                    </div>
                    <i class="fa-solid fa-circle-plus haha"></i>
            </div>

            <div class="player">
                <div class="player-controls">
                    <img src="player_icon1.png" alt="" class="player-control-icon">
                    <img src="player_icon2.png" alt="" class="player-control-icon">
                    <img src="player_icon3.png" alt="" class="player-control-icon" style="opacity: 1; height: 2rem;">
                    <img src="player_icon4.png" alt="" class="player-control-icon">
                    <img src="player_icon5.png" alt="" class="player-control-icon">
                </div>
                <div class="playback-bar">
                    <span class="time">00:00</span>
                    <input type="range" min="0" max=100 class="progress-bar" step="1">
                    <span class="ttime">3:33</span>
                </div>
            </div>

            <div class="controls">
                <i class="fa-solid fa-play"></i>
                <i class="fa-solid fa-microphone"></i>
                <i class="fa-solid fa-ellipsis-vertical"></i>
                <i class="fa-solid fa-headphones-simple"></i>
                <i class="fa-solid fa-volume-high"></i>
                <input type="range">
            </div>

        </div>
     </div>
</body>
</html>